body {
  margin: 0;
  background-color: #D9EDDF;
  font-size: 16px;
}

.App {
  overflow: hidden;
}

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.buttons {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24em;
  height: 4.5em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 0px 0px 7px -2px rgba(0, 0, 0, 0.50);
}


/* TITLE SCREEN */

.titleFlex {
  justify-content: center;
  grid-template-rows: 30% 70%;
  height: 100vh;
}

#title-container {
  width: fit-content;
  background: none;
}

.titleContainerAnim {
  animation: fadeIn 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-size: 7em;
  box-shadow: 0px 15px 13px -19px rgba(0, 0, 0, 0.5);
}

.buttonsContainer {
  justify-items: center;
  gap: 1.2em;
}

.buttonsAnim {
  animation: fadeIn 1.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.buttons.titleButtons {
  background-color: #0063D2;
}

.buttons.titleButtons:hover {
  background-color: #2d8dfb;
}

.buttonText {
  font-size: 2em;
  font-weight: 400;
  color: white;
}


/* ANIMATIONS */

.flyOut {
  animation: flyOut 0.6s;
  animation-fill-mode: forwards;
}

.flyIn {
  animation: flyIn 0.6s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes flyOut {
  0% {transform: translate(0, 0)}
  10% {transform: translate(0, 10vh)}
  20% {transform: translate(0, 15vh)}
  30% {transform: translate(0, 10vh)}
  100% {transform: translate(0, -100vh);display: none}
}

@keyframes flyIn {
  0% {transform: translate(0, 100vh)}
  90% {transform: translate(0, 1vh)}
  100% {transform: translate(0, 0)}
}


/* DIFFICULTY SCREEN */

#difficultyScreen {
  height: 100vh;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(102,217,206,1) 100%);
  justify-content: center;
  gap: 3em;
}

.buttons.difficultyButtons {
  background-color: #88a5e0;
}

.buttons.difficultyButtons:hover {
  background-color: #4f7edc;
}