body {
  margin: 0;
  background-color: #D9EDDF;
  font-size: 16px;
  overflow: hidden;
}

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.buttons {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24em;
  height: 4.5em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 0px 0px 7px -2px rgba(0, 0, 0, 0.50);
}


/* TITLE SCREEN */

.titleFlex {
  justify-content: center;
  height: 150vh;
}

.titleContainer {
  grid-template-rows: calc(30% * 100/150) calc(70% * 100/150);
}

.titleContainerAnim {
  animation: fadeIn 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-size: 7em;
  box-shadow: 0px 15px 13px -19px rgba(0, 0, 0, 0.5);
}

.buttonsContainer {
  justify-items: center;
  gap: 1.2em;
}

.buttonsAnim {
  animation: fadeIn 1.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.buttons.titleButtons {
  background-color: #5098C8;
}

.buttons.titleButtons:hover {
  background-color: #3b7296;
}

.buttonText {
  font-size: 2em;
  font-weight: 400;
  color: white;
}

#buttonDisabler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.disableElem {
  display: none;
}

/* ANIMATIONS */

.flyOut {
  animation: flyOut 0.6s;
  animation-fill-mode: forwards;
}

.flyIn {
  animation: flyIn 0.6s;
  animation-fill-mode: forwards;
}

.flyInRev {
  animation: flyInRev 0.6s;
  animation-fill-mode: forwards;
}

.flyOutRev {
  animation: flyOutRev 0.6s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes flyOut {
  0% {transform: translate(0, 0)}
  10% {transform: translate(0, 10vh)}
  20% {transform: translate(0, 15vh)}
  30% {transform: translate(0, 10vh)}
  100% {transform: translate(0, -100vh)}
}

@keyframes flyIn {
  0% {transform: translate(0, 100vh)}
  90% {transform: translate(0, -24vh)}
  100% {transform: translate(0, -25vh)}
}

@keyframes flyInRev {
  0% {transform: translate(0, -100vh)}
  90% {transform: translate(0, -1vh)}
  100% {transform: translate(0, 0vh)}
}

@keyframes flyOutRev {
  0% {transform: translate(0, -25vh)}
  10% {transform: translate(0, -35vh)}
  20% {transform: translate(0, -40vh)}
  30% {transform: translate(0, -35vh)}
  100% {transform: translate(0, 100vh)}
}


/* DIFFICULTY SCREEN */

#difficultyScreen {
  height: 150vh;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0,0,0,0) 16%, rgba(102,217,206,1) 84%);
}

.difficultyContainer {
  justify-content: center;
  gap: 3em;
}

.buttons.difficultyButtons {
  background-color: #8BCEFF;
}

.buttons.difficultyButtons:hover {
  background-color: #72aad3;
}


/* SETTINGS SCREEN */

#settingsScreen {
  height: 150vh;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0,0,0,0) 16%, rgba(0,129,191,1) 84%);
}